html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  --main-color: #005743;
  --main-color-light: #008c6c;
  --secondary-color: #c6c013;
  --main-background: white;
  --main-color-rgb: 0, 87, 67;
  --min_width: 1125px;
}

div,
form {
  border: 1px solid grey;
  border: 1px solid transparent;
}

.header {
  background: var(--main-color);
  height: 60px;
  min-width: var(--min_width);
}

.logo_wrapper {
  float: left;
  height: auto;
  width: auto;
  position: relative;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.logo_wrapper span.hotel {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.logo_wrapper span.hopping {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.logo_wrapper span.com {
  color: var(--main-color-light);
  filter: brightness(150%);
  margin-left: 0px;
  font-size: 18px;
  font-weight: bold;
}

/* substituir sempre 1250px pela nova min width */
@media only screen and (min-width: 1125px) {
  .logo_wrapper {
    left: calc((100% - var(--min_width)) / 2 + 10px);
  }
  .user_wrapper {
    right: calc((100% - var(--min_width)) / 2);
  }
  .internal {
    background-color: var(--main-background);
  }
  .internal_wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.logo_wrapper img {
  width: 150px;
  height: 25px;
}

.user_wrapper {
  float: right;
  height: 60%;
  width: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.user_items {
  float: left;
  height: 90%;
  width: auto;
  margin: 0px 10px;
  padding: 0px 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#currency_wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#currency {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#flag {
  display: block;
  margin: auto;
  width: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.user_items button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.internal {
  min-width: var(--min_width);
}

.internal_wrapper {
  width: var(--min_width);
  overflow: auto;
}

.left {
  float: left;
  width: 265px;
}

.right {
  position: relative;
  float: left;
  width: calc(100% - 265px);
  background-color: var(--main-background);
}

.search {
  height: auto;
  width: auto;
  margin: 0px, 12px;
  margin-top: 10px;
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.search_wrapper {
  font-size: 14px;
  margin: 18px;
  overflow: auto;
}

.search_title {
  font-size: 25px;
  width: fit-content;
}
.search_label {
  margin-top: 10px;
  margin-bottom: 1px;
  width: fit-content;
}

.search_select {
  margin-top: 10px;
}

.search_input input,
.search_select select {
  height: 30px;
  width: 100%;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.search_input_destination input {
  cursor: auto;
}

#children {
  float: left;
}

#rooms {
  float: right;
}

#children,
#rooms {
  width: calc(50% - 5px);
}

.search_button {
  float: right;
  margin-top: 10px;
}

.search_button button {
  font-size: 22px;
  color: white;
  background-color: var(--main-color-light);
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.search_button button:hover {
  background-color: var(--main-color);
}

.hopping_wrapper {
  margin-top: 15px;
  background-color: var(--main-color);
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}

.hopping_toggle {
  height: 40px;
  border-bottom: 2px solid white;
  padding-left: 5px;
  padding-right: 5px;
}
.hooping_title {
  float: left;
  font-size: 21px;
  font-weight: bold;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 5px 0px;
}

.toogle_wrapper {
  float: right;
  margin-right: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 0px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main-color-light);
  filter: brightness(150%);
}

input:focus + .slider {
  box-shadow: 0 0 2px var(--main-color-light);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hopping_filter {
  height: 30px;
  margin: 10px 0px;
  font-size: 14px;
  font-weight: bold;
}

.hopping_filter_name_wrapper {
  float: left;
  color: white;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 5px 0px;
}

.hopping_select_wrapper {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.hopping_select {
  display: block;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  color: #333;
  line-height: 1.3;
  padding: 3px 23px 4px 6px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-radius: 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #bdbdbd;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  cursor: pointer;
}
.hopping_select:-ms-expand {
  display: none;
}
.hopping_select:hover {
  border: 2px solid var(--main-color-light);
  border-radius: 3px;
}
.hopping_select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px var(--main-color-light);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.hopping_select option {
  font-weight: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--main-color-light);
  filter: brightness(150%);
  color: black;
  font-size: 13px;
  text-align: center;
  padding: 5px 2px;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  left: 0px;
  width: 263px;
}
.tooltip .change_hotels {
  bottom: 32px;
  left: -18px;
}

.tooltip .min_saving {
  bottom: 30px;
  left: -13px;
}

.tooltip .max_hopp {
  width: 263px;
  top: 29px;
  left: -13px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.filter_wrapper {
  margin-top: 15px;
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  color: #333;
}
.filter_section {
  border-top: 1px solid #bdbdbd;
}

.filter_title {
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  margin: 10px;
}

.section_title {
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  width: fit-content;
}

.section_item {
  width: fit-content;
  margin: 10px;
  height: 25px;
}

.section_item input[type="checkbox"] {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  left: -100vw;
}
.section_item input[type="radio"] {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  left: -100vw;
}

.price_range_item {
  height: auto;
  margin: 10px 20px;
}

.amount_wrapper {
  width: fit-content;
  margin-bottom: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#amount {
  width: 88px;
  font-size: 14px;
  border: none;
}

.slider_range_wrapper {
  height: 20px;
}

.ui-state-hover {
  border: 2px solid var(--main-color-light) !important;
}

.ui-state-active {
  background-color: var(--main-color-light) !important;
  border: 2px solid var(--main-color-light) !important;
  box-shadow: 0px 0px 1px 1px var(--main-color-light) !important;
}

.ui-state-focus {
  outline: none;
}

.check_box {
  width: 20px;
  height: 20px;
}
.check_box:after {
  content: "✓";
  font-size: 14px;
  padding: 1px 4px;
  color: white;
  background-color: white;
  border: 2px solid #333;
  border-radius: 3px;
}
.check_box:hover ~ .check_box::after {
  content: "✓";
  font-size: 14px;
  padding: 1px 4px;
  color: white;
  background-color: white;
  border: 2px solid var(--main-color-light);
  border-radius: 3px;
}
.check_box:checked ~ .check_box::after {
  content: "✓";
  font-weight: bold;
  font-size: 14px;
  padding: 1px 4px;
  color: white;
  background-color: var(--main-color-light);
  border: 2px solid var(--main-color-light);
}
.check_box:focus ~ .check_box::after {
  border: 2px solid var(--main-color-light);
  box-shadow: 0px 0px 7px 3px var(--main-color-light);
}

.label_wrapper {
  width: fit-content;
  transform: translateY(-19px);
}
.label_wrapper label {
  cursor: pointer;
  padding: 4px 10px 3px 30px;
  font-size: 13px;
  /* border: 1px solid black; */
}

.search_top {
  display: inline-block;
  margin: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 826px;
  position: relative;
}

.destination_header_wrapper {
  float: left;
  width: fit-content;
  font-size: 23px;
  font-weight: bold;
  color: #333;
}

.sort_by {
  width: fit-content;
  float: left;
  position: absolute;
  top: 35px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
}

.map_wrapper {
  position: relative;
  float: right;
  height: 50px;
  width: 90px;
  background: url(/images/search/map.jpeg);
  background-size: 250px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 0 3px var(--main-color);
}

.map_wrapper:hover {
  border: 1px solid var(--main-color-light);
  box-shadow: 0 0 5px var(--main-color-light);
}

.map_wrapper:hover .map_text,
.map_wrapper:hover .fa-map-marker-alt {
  color: var(--main-color-light);
}

.map_wrapper .position_icon {
  height: 15px;
  width: fit-content;
  margin: 5px auto;
  margin-top: 3px;
}

.position_icon i {
  color: var(--main-color);
}

.map_wrapper .map_text {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 1.5px 0px;
  color: var(--main-color);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
}

.sort_wrapper {
  margin: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  height: 35px;
}
.sort_item {
  float: left;
  height: 100%;
  border: 1px solid var(--main-color);
  border-right: none;
  width: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin: 0px;
  padding: 0px 30.7px;
  white-space: nowrap;
}

.sort_item_last_border {
  border-right: 1px solid var(--main-color);
}

.sort_item span {
  color: var(--main-color);
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 6px;
}

.sort_selected {
  background-color: var(--main-color);
}

.sort_selected span {
  color: white;
}

.hotel_boxes_wrapper {
  border: none;
}
.hotelbox_loading {
  filter: opacity(40%);
}
.hotelbox {
  margin: 15px;
  overflow: auto;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
}

.hotelbox:hover {
  background-color: rgba(var(--main-color-rgb), 0.05);
}

.hotelbox_inside {
  margin: 17px;
  overflow: auto;
}

.hotel_photo {
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 3px;
  cursor: pointer;
}
.hotel_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.hotel_content {
  float: left;
  width: 571px;
  margin-left: 17px;
}

.hotel_book {
  float: right;
  margin-top: 3px;
}

.hotel_book button {
  padding: 10px 16px;
  color: white;
  background-color: var(--main-color-light);
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.hotel_book button:hover {
  background-color: var(--main-color);
}

.hotel_room {
  margin-top: 17px;
  overflow: auto;
  cursor: pointer;
}
.hotel_room:hover {
  background-color: white;
  border-radius: 3px;
}

.hotel_head {
  overflow: auto;
  width: fit-content;
}
.name {
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color-light);
  cursor: pointer;
}

.name:hover {
  color: var(--main-color);
}

.stars_wrapper {
  float: left;
  margin-left: 5px;
  transform: translateY(-4px);
}
.stars {
  color: var(--secondary-color);
  margin-top: 0px;
  font-size: 14px;
}

.hotel_review {
  float: right;
  position: relative;
  transform: translateY(-25px);
  cursor: pointer;
}

.quality_number {
  float: left;
  margin-right: 5px;
}
.quality_wrapper {
  margin-left: auto;
  margin-right: 0;
  font-size: 16px;
  color: var(--main-color);
  width: fit-content;
}

.nr_reviews_wrapper {
  font-size: 12px;
  color: #6b6b6b;
  width: fit-content;
  float: right;
}
.score_wrapper {
  float: right;
  height: 35px;
  width: 35px;
  background-color: var(--main-color);
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

.score_wrapper:hover {
  background-color: var(--main-color-light);
}

.score_wrapper span {
  margin: auto;
}

.address_wrapper {
  margin-top: 17px;
  width: fit-content;
  overflow: auto;
  font-size: 12px;
  cursor: pointer;
}

.address {
  float: left;
}
.address_separator {
  float: left;
  margin-left: 3px;
  transform: translateY(-3px);
  font-weight: bolder;
}

.distance_center_wrapper {
  float: left;
  margin-left: 3px;
  line-height: 15px;
  transform: translateY(+1px);
}

.address span {
  color: var(--main-color-light);
  font-weight: bold;
}

.address span:hover {
  color: var(--main-color);
}
.address_separator span {
  font-weight: bolder;
  color: #333;
}

.distance_center span {
  font-size: 12px;
  color: #333;
}

.room_title {
  overflow: auto;
}

.room_name_wrapper,
.room_separator,
.room_guests_icon,
.nights_guests {
  float: left;
  width: fit-content;
  font-size: 13px;
  font-weight: bold;
}

.room_separator {
  margin: 0px 5px;
}

.room_guests_icon img {
  float: left;
  width: 12px;
  margin-top: 1.5px;
}

.nights_guests {
  color: #6b6b6b;
  float: right;
  font-weight: lighter;
}

.bed_type_wrapper {
  color: #333;
  font-size: 13px;
  width: fit-content;
  margin-top: 5px;
}

.policy_price_wrapper {
  overflow: visible;
}

.room_policy {
  float: left;
  width: fit-content;
  font-size: 13px;
  font-weight: bold;
  color: #008009;
  margin-top: 5px;
  overflow: auto;
}

.price_wrapper {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  transform: translateY(-15px);
}
.room_policy div {
  float: left;
}

.policy_separator {
  margin: 0px 4px;
  transform: translateY(-4px);
  font-weight: bolder;
}

.page_loading_wrapper {
  transform: translateY(-10px);
  height: 80px;
  margin: 0px 15px;
}

.page_loading {
  display: none;
}

.page_loading_show {
  display: block;
}

.filter_loading_wrapper_show {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
}

.page_loading {
  width: fit-content;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.page_loading img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.page_end_wrapper {
  display: none;
  height: 50px;
  background-color: rgba(var(--main-color-rgb), 0.15);
  margin: 0px 15px;
  border-radius: 3px;
  margin-bottom: 50px;
}

.page_end_wrapper_show {
  display: block;
  margin-top: -75px;
}

.page_end_icon {
  float: left;
  width: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px 10px;
}

.page_end_icon img {
  width: 35px;
}

.page_end_message {
  float: left;
  width: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.page_end_message span {
  font-size: 16px;
  white-space: nowrap;
}

.footer {
  min-width: var(--min_width);
}

.first_footer {
  height: 50px;
  background-color: var(--main-color-light);
  position: relative;
}

.second_footer {
  height: 50px;
  background-color: var(--main-color);
  position: relative;
}

.first_footer_items_wrapper {
  position: absolute;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.first_footer_item {
  width: fit-content;
  float: left;
  padding: 0px 50px;
}
.first_footer_item button {
  color: white;
  font-size: 14px;
  padding: 5px 20px;
  background-color: var(--main-color-light);
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.first_footer_item button:hover {
  background-color: var(--main-color);
}

.second_footer_items_wrapper {
  position: absolute;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.second_footer_item {
  color: white;
  width: fit-content;
  float: left;
  padding: 0px 50px;
}

.second_footer_item a {
  font-size: 14px;
  color: white;
}

.copyright_wrapper {
  position: absolute;
  top: 6px;
  width: 150px;
  left: 5px;
  font-size: 10px;
  color: white;
}

.copyright_wrapper span {
  float: left;
}

.map_overlay {
  display: none;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  min-width: var(--min_width);
  min-height: 720px;
  background-color: rgba(0, 0, 0, 0.4);
}

.display_map_overlay {
  display: block;
}

.map_popup {
  height: 95%;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.map_close {
  height: 45px;
  width: 45px;
  position: absolute;
  top: calc(2.5% + 5px);
  left: calc(97.5% - 5px);
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border-radius: 150px;
  /* border: none; */
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.close {
  border: none;
  opacity: 0.4;
  position: relative;
  left: calc(50% - 1.3px);
  top: 9px;
}

.map_close:hover .close {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  content: " ";
  height: 25px;
  width: 2px;
  background-color: var(--main-color-light);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.map_left {
  float: left;
  width: 20%;
  height: 100%;
}

.map_right {
  float: right;
  width: 80%;
  height: 100%;
}

/* hotelpage */
#hotel_left {
  margin-top: 15px;
}

.hp_location {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 15px;
}
.hp_map_wrapper {
  position: relative;
  height: 90px;
  width: 100%;
  background: url(/images/search/map.jpeg);
  background-size: 250px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 0 3px var(--main-color);
}

.hp_map_wrapper:hover {
  border: 1px solid var(--main-color-light);
  box-shadow: 0 0 5px var(--main-color-light);
}

.hp_map_wrapper:hover .hp_map_text,
.hp_map_wrapper:hover .fa-map-marker-alt {
  color: var(--main-color-light);
}
.hp_position_icon {
  width: fit-content;
  margin: 5px auto;
  margin-top: 10px;
}

.hp_position_icon i {
  color: var(--main-color);
}

.hp_map_text {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 7px 0px;
  color: var(--main-color);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
}

.hp_location_rating {
  display: flex;
  margin: 12px 0px 12px;
}

.hp_location_score {
  background-color: var(--main-color-light);
  height: 35px;
  width: 35px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  display: flex;
}

.hp_location_score span {
  margin: auto;
}

.hp_location_quality_wrapper {
  margin-left: 10px;
}

.hp_location_quality {
  display: block;
  font-size: 16px;
}

.hp_location_text {
  display: block;
  font-size: 12px;
  margin-top: 2px;
}

.hp_location_item {
  margin-bottom: 5px;
  font-size: 16px;
}

.gold {
  color: rgb(255, 208, 74);
}

.gold_background {
  background-color: rgb(255, 208, 74);
  padding: 2px 2px;
}

.red {
  color: red;
}

.hp_location_item i {
  width: 20px;
  text-align: center;
}

.hp_location_item span {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  transform: translateY(-1.5px);
}

.hp_location_divider {
  height: 20px;
  border-bottom: 1px solid rgb(221, 223, 226);
}

.hp_points_tittle {
  display: inline-block;
  margin: 18px 0px;
}

.hp_point_of_interest {
  font-size: 12px;
  overflow: auto;
  margin-bottom: 10px;
}

.hp_point_name {
  float: left;
}

.hp_point_distance {
  float: right;
}

#hotel_page {
  padding: 15px;
}
.hp_top_bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.hp_top_bar a {
  flex: 1;
  background-color: white;
  text-decoration: none;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  margin-left: -1px;
  text-align: center;
  padding: 8px 0px;
}

.hp_top_bar a:hover {
  background-color: var(--main-color);
  color: white;
}

.hp_head {
  overflow: auto;
  margin: 5px 0px 10px 0px;
}

.hp_head_tittle {
  float: left;
  width: 650px;
}

.hp_head_book {
  float: right;
  width: fit-content;
  direction: rtl;
}

.hp_tittle {
  overflow: auto;
  width: fit-content;
}

.hp_name {
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: var(--main-color-light);
}

.hp_stars_wrapper {
  float: left;
  margin-left: 5px;
  transform: translateY(-1px);
}

.hp_stars {
  color: var(--secondary-color);
  font-size: 16px;
}

.hp_map_icon {
  margin-top: 5px;
  margin-right: 5px;
  color: var(--main-color);
}

.hp_address {
  margin-left: 0px;
  font-size: 14px;
}

.hp_see_map {
  color: var(--main-color);
  font-weight: bold;
  margin-top: 2px;
  cursor: pointer;
}

.hp_see_map:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.hp_distance_center {
  margin-top: 3px;
  font-size: 13px;
}

.hp_top_facilities {
  flex: 1;
  background-color: rgba(var(--main-color-rgb), 0.05);
  border-radius: 4px;
  margin-left: 60px;
  padding: 20px;
}

.hp_spotlight_wrapper {
  margin-top: 12px;
  width: fit-content;
}

.hp_spotlight {
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  width: fit-content;
  background-color: rgba(var(--main-color-rgb), 0.2);
  padding: 3px 6px;
}

.hp_spotlight i {
  width: 20px;
  text-align: center;
}

.hp_spotlight span {
  margin-left: 10px;
}

.hp_nightly_price {
  width: fit-content;
  font-size: 24px;
}
.hp_head_nightly_text {
  font-size: 16px;
  margin-top: 4px;
}

.hp_total_price {
  width: fit-content;
  font-size: 12px;
  margin-top: 2px;
  direction: ltr;
}

.hp_head_button {
  width: fit-content;
  margin-top: 6px;
}

.hp_head_button button {
  padding: 10px 16px;
  color: white;
  background-color: var(--main-color-light);
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.hp_head_button button:hover {
  background-color: var(--main-color);
}

.hp_gallery {
  position: relative;
}

.hp_slideshow {
  height: 460px;
  position: relative;
}

.hp_slide {
  height: 100%;
}
#slide {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.arrow_left,
.arrow_right {
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 15%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 50%);
}

.arrow_left {
  left: 5%;
}

.arrow_right {
  right: 5%;
}

.arrow_left:hover,
.arrow_right:hover {
  background-color: rgba(255, 255, 255, 80%);
}

.arrow_right i,
.arrow_left i {
  color: var(--main-color-light);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.arrow_right i {
  left: 35%;
}

.arrow_left i {
  left: 30%;
}

.hp_min_slide {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: none;
  margin-right: 4px;
}

.hp_min_slide:hover {
  filter: opacity(50%);
}

.hp_min_slide_selected {
  outline: 3px solid var(--main-color-light);
}

.hp_slide_img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hp_hotel_review {
  position: absolute;
  top: 11px;
  right: 11px;
  background-color: rgb(242, 246, 245);
  cursor: pointer;
  padding: 7px 7px 7px 30px;
}

.hp_description_wrapper {
  margin-top: 15px;
  display: flex;
}

.hp_description {
  width: 500px;
}

.hp_description_tittle {
  width: fit-content;
  font-size: 18px;
}

.hp_descrition_text {
  font-size: 14px;
}
.hp_descrition_text p {
  margin: 14px 0px;
}

.hp_top_facilities {
  flex: 1;
  background-color: rgba(var(--main-color-rgb), 0.05);
  border-radius: 4px;
  margin-left: 60px;
  padding: 20px;
}

.hp_top_facilities_tittle {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--main-color);
}

.hp_top_facility {
  margin-bottom: 15px;
  font-size: 16px;
}

.hp_top_facility i {
  width: 20px;
  text-align: center;
}

.hp_top_facility span {
  margin-left: 10px;
}

.green {
  color: var(--main-color);
}

.blue {
  color: rgb(10, 10, 143);
}

.hp_top_facilities button {
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 15px;
  height: 40px;
  color: white;
  background-color: var(--main-color-light);
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.hp_top_facilities button:hover {
  background-color: var(--main-color);
}

.hp_availability {
  margin-top: 15px;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

.hp_section_tittle {
  width: fit-content;
  font-size: 24px;
  margin: 15px;
}

.hp_search {
  overflow: auto;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  background-color: white;
  margin: 15px;
}

.hp_search_box {
  height: 60px;
  margin: 15px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  cursor: pointer;
}

.hp_dates_wrapper {
  float: left;
  width: fit-content;
}

.hp_guests_wrapper {
  float: left;
  width: 200px;
}

.hp_update_wrapper {
  float: right;
  width: 150px;
  background-color: ;
  border: none;
}

.hp_dates_box {
  float: left;
  height: 100%;
  width: 175px;
  margin: 0px;
}

.hp_box_divider {
  border-left: 1px solid #c6c6c6;
}

.hp_box_wrapper {
  width: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
}
.hp_box_title {
  width: fit-content;
  margin-bottom: 5px;
  color: rgb(102, 102, 102);
  font-size: 14px;
  margin-bottom: 3px;
}

.hp_box_text {
  width: fit-content;
  font-size: 14px;
  color: #444;
  font-size: 16px;
  font-weight: bold;
}

.hp_update_wrapper button {
  height: 100%;
  width: 100%;
  color: white;
  background-color: var(--main-color-light);
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.hp_update_wrapper button:hover {
  background-color: var(--main-color);
}

.hp_rooms_header {
  background-color: var(--main-color-light);
  height: 40px;
  border: 1px solid #c6c6c6;
  margin: 15px 15px 0px 15px;
  transform: translateY(3px);
  z-index: -1000;
}

.hp_header_box {
  float: left;
  height: 39px;
  width: 150px;
  border: none;
  color: white;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp_header_box span {
  font-size: 13px;
  font-weight: bold;
}

.hp_room {
  display: flex;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  background-color: white;
  margin: 15px;
  margin-top: 0px;
}

.hp_room_wrapper {
  border: none;
}

.hp_room_content {
  display: flex;
  border: none;
  border-top: 1px solid #c6c6c6;
}

.hp_room_type,
.hp_header_room_type {
  width: 265px;
}

.hp_room_offers,
.hp_header_offers {
  width: 185px;
}

.hp_select_rooms,
.hp_header_select_rooms {
  width: 60px;
}

.hp_room_reserve {
  width: 282px;
}

.hp_room_type {
  border: none;
}

.hp_room_offers,
.hp_header_offers {
  border: none;
  border-right: 1px solid #c6c6c6;
  border-left: 1px solid #c6c6c6;
}

.hp_select_rooms,
.hp_header_select_rooms {
  border: none;
  border-right: 1px solid #c6c6c6;
}

.hp_room_offer {
  height: 250px;
  border-bottom: 1px solid #c6c6c6;
}

.hp_room_offer:last-child,
.hp_room_offer_select:last-child {
  border-bottom: none;
}

.hp_room_type,
.hp_room_offer {
  padding: 15px;
}

.hp_room_offer_select {
  height: 250px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #c6c6c6;
}

.hp_room_offer_select select {
  margin-top: 5px;
  height: 25px;
  width: 40px;
}

.hp_nr_rooms {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  padding: 3px 23px 4px 6px;
  appearance: none;
  background-color: white;
  border: solid 1px #333;
  border-radius: 3px;
  background-image: url("../images/hotel/sort_down_solid.svg");
  background-position: right 4px top 2px;
  background-size: 8px auto, 100%;
  background-repeat: no-repeat, repeat;
  cursor: pointer;
}

.hp_nr_rooms:hover {
  box-shadow: 0px 0px 5px 2px #333;
}

.hp_room_image {
  height: 150px;
  margin-bottom: 12px;
  cursor: pointer;
}

.hp_room_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hp_room_name {
  height: 30px;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 9px;
}
.hp_room_capacity {
  margin-bottom: 8px;
}

.hp_room_capacity span {
  font-size: 14px;
  margin-left: 5px;
}

.hp_more_details {
  font-size: 14px;
  font-weight: bold;
  color: var(--main-color-light);
  margin-bottom: 20px;
  cursor: pointer;
}

.hp_amenity {
  height: 20px;
  margin-bottom: 8px;
  font-size: 14px;
}

.hp_room_ul {
  font-size: 14px;
}

.hp_room_ul li {
  margin-bottom: 5px;
}

.hp_room_total {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

.hp_room_nights {
  text-align: center;
  font-size: 13px;
  margin-bottom: 25px;
}

.hp_offer {
  margin-top: 15px;
  color: rgb(102, 102, 102);
}

.hp_offer span {
  margin-left: 3px;
  font-size: 14px;
}

.hp_offer i {
  width: 20px;
  text-align: center;
}

.hp_room_only {
  color: rgb(102, 102, 102);
}

.hp_breakfast_included {
  color: var(--main-color-light);
}

.hp_refundable {
  color: rgb(46, 150, 169);
}

.hp_rooms_left i {
  color: rgb(255, 208, 74);
}

.hp_rooms_left span {
  background-color: rgb(255, 208, 74);
  border-radius: 3px;
  padding: 3px 6px;
}

.hp_room_reserve button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 7px 15px;
  width: 140px;
  height: 40px;
  color: white;
  background-color: var(--main-color-light);
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.hp_room_reserve button:hover {
  background-color: var(--main-color);
}

.hp_room_reserve ul {
  font-size: 13px;
}

.hp_room_reserve li {
  margin-bottom: 5px;
}

.hp_facilities {
  margin-top: 15px;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

.hp_facilities .hp_section_tittle {
  margin-bottom: 0px;
  margin-left: 25px;
}

.hp_facilities_wrapper {
  margin: 25px;
  column-count: 3;
  margin-top: 5px;
}

.hp_facilities_group {
  margin-top: 18px;
  width: 250px;
  display: inline-block;
}

.hp_facilitites_tittle {
  margin-bottom: 10px;
  font-size: 16px;
}

.hp_facilitites_tittle i {
  width: 20px;
  text-align: center;
}

.hp_facilitites_tittle span {
  margin-left: 10px;
}
.hp_facilities_group ul {
  list-style: none;
  padding-left: 0px;
}
.hp_facilities_group li {
  padding-left: 33px;
  background-image: url("../images/hotel/check.svg");
  background-repeat: no-repeat;
  background-position: left 5px top 1px;
  background-size: 10px auto, 100%;
  font-size: 13px;
  margin-bottom: 5px;
}

.hp_house_rules {
  margin-top: 15px;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

.hp_house_rules .hp_section_tittle {
  margin-left: 25px;
}

.hp_rule {
  display: flex;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid rgba(133, 135, 139, 0.3);
  margin: 0px 25px;
}

.hp_rule_tittle {
  margin-bottom: 10px;
  font-size: 16px;
  width: 275px;
}

.hp_rule_tittle i {
  width: 20px;
  text-align: center;
}

.hp_rule_tittle span {
  margin-left: 15px;
}

.hp_rule_content {
  width: fit-content;
  font-size: 14px;
}

.hp_rule_content span {
  display: block;
  margin-bottom: 10px;
  width: 450px;
  line-height: 17px;
}

.hp_rule_content i {
  width: 30px;
  margin: 0px 5px;
}
