.left_content {
    width: 300px;
}

.right_content {
    width: calc(100% - 300px);
    margin-left:20px
}

.left_box {
    min-height: 50px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 15px;
    border: 1px solid var(--main-color);
}

.right_box {
    border-radius: 0 0 3px 3px;
    background-color: rgba(var(--main-color-rgb), 0.1);
    margin-bottom: 15px;
    padding: 20px;
    position: relative;
}

.step {
    background-color: rgba(var(--main-color-rgb), 0.1);
    padding: 15px 20px;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid #aaa;
    font-size: 18px;
    font-weight: bold;
}

.box_tittle {
    background-color: rgba(var(--main-color-rgb), 0.1);
    border-radius: 3px;
    margin-bottom: 15px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    border: 1px solid var(--main-color);
}

.left_box img {
    width: 100%;
    height: 220px;
    border: 2px solid white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}

.hotel_name {
    font-size: 18px;
    font-weight: bold;
}

.hotel_name sup {
    color: var(--secondary-color);
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: 5px;
}

.hotel_address {
    margin-top: 5px;
    font-size: 12px;
    display: block;
}

.score {
    width: fit-content;
    padding: 8px 12px;
    background-color: var(--main-color);
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin: 8px auto 0px;
}

.reviews {
    display: block;
    width: fit-content;
    margin: 5px auto 0px;
    color: #666;
    font-size: 14px;
}

.dates_wrapper {
    display: flex;
    margin-bottom: 10px;
}

.divider {
    border-right: 1px solid #999;
    height: 32px;
    margin: auto 15px 0px;
}

.date_box span {
    display: block;
    width: fit-content;
}

.date_tittle {
    font-size: 14px;
    margin-bottom: 8px;
}

.date {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}

.hour {
    font-size: 13px;
    color: #555;
}

.lenght_tittle {
    font-size: 14px;
}

.lenght {
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.room_type {
    margin-bottom: 5px;
    font-size: 15px;
}

.price_line {
    font-size: 13px;
    margin-bottom: 8px;
}

.price_line span:nth-of-type(2) {
    float: right;
}

.total_price {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.total_price span:nth-of-type(2) {
    float: right;
}

.policy_tittle {
    font-size: 14px;
    font-weight: bold;
}

.policy_text {
    font-size: 13px;
    margin-top: 4px;
    display: block;
}

.additional_item {
    font-size: 13px;
    margin-bottom: 10px;
}

.additional_tittle {
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
}

.additional_text {
    display: block;
}

.step span {
    margin-left: 10px;
}

.name_wrapper {
    display: flex;
    max-width: 450px;
}

.name_wrapper div:nth-of-type(2) {
    margin-left: 30px;
}

.input_wrapper {
    font-size: 13px;
    width: fit-content;
    margin-bottom: 20px;
}

.input_wrapper label {
    font-weight: bold;
    margin-left: 2px;
    display: block;
}

.input_wrapper label .mandatory {
    color: red;
    margin-left: 3px;
}

.input_wrapper input,
.input_wrapper select {
    display: inline-block;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-top: 2px;
    padding: 4px 5px;
}

.is-invalid {
    border: 2px solid red;
}

.info {
    display: inline-block;
    margin-left: 10px;
    font-style: italic;
    font-size: 12px;
}

.invalid-feedback,
.error {
    color: red;
    display: block;
    margin-top: 5px;
    margin-left: 2px;
    font-weight: bold;
}

.mandatory_wrapper {
    font-size: 13px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(var(--main-color-rgb), 0.2);
    padding: 7px;
    border-radius: 3px;
    color: var(--main-color);
}

em {
    color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#email,
#email_confirmation {
    width: 270px;
}

#card_name,
#card_number {
    width: 180px;
}

#expiry_month,
#expiry_year {
    width: 60px;
}

#cvc {
    width: 70px;
}

#expiry_divider {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 3px;
}

.room_box {
    display: flex;
}

.room_left {}

.room_right {
    padding-left: 20px;
    width: 100%;
}

.room_left img {
    width: 225px;
    height: 155px;
    border: 2px solid white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.room_name {
    font-weight: bold;
    font-size: 17px;
}

.room_capacity {
    display: flex;
    margin-bottom: 10px;
}

.guests_icon img {
    width: 12px;
}

.offer_guests {
    font-size: 14px;
    margin-left: 5px;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.amenity {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    width: fit-content;
    border-radius: 3px;
    padding: 3px 4px;
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.amenity i {
    width: 15px;
    text-align: center;
}

.amenity span {
    margin-left: 5px;
}

.room_right label {
    font-size: 13px;
    font-weight: bold;
}

#special_requests {
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.payment_info {
    position: absolute;
    right: 150px;
    top: 20px;
    width: 300px;
    margin-top: 20px;
}

.payment_info span {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.payment_info img {
    height: 25px;
}

.secure_wrapper {
    margin-top: 20px;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}

.secure_item {
    display: flex;
}

.secure_item i {
    color: var(--main-color)
}

.secure_item span {
    font-weight: normal;
    margin-left: 10px;
}

.secure_wrapper .lock {
    color: rgba(var(--main-color-rgb), 0.1);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
}

.booking_terms {
    padding: 0px 20px;
    font-size: 14px;
    margin-bottom: 15px;
}

.booking_terms a {
    color: var(--main-color);
    font-weight: bold;
}

.booking_terms em {
    color: var(--main-color);
    font-weight: bold;
    font-style: normal;
}

.confirm_wrapper {
    display: flex;
    align-items: center;
}

.confirm_wrapper span {
    margin-left: auto;
    font-style: italic;
    font-size: 14px;
    margin-right: 15px;

}

.confirm_button {
    font-size: 18px;
    color: white;
    background-color: var(--main-color-light);
    border: none;
    padding: 12px 15px;
    border-radius: 2px;
    cursor: pointer;
}

.confirm_button:hover {
    background-color: var(--main-color);
}

.confirm_button i {
    margin-right: 10px;
    font-size: 16px;
}
