.left_content {
    width: min(300px, 45%);
}

.right_content {
    min-width: 290px;
    margin-left: 20px;
}

.left_box {
    min-height: 50px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 15px;
    border: 1px solid var(--main-color);
}

.right_box {
    border-radius: 0 0 3px 3px;
    background-color: rgba(var(--main-color-rgb), 0.1);
    margin-bottom: 15px;
    padding: 20px;
    position: relative;
}

.step {
    background-color: rgba(var(--main-color-rgb), 0.1);
    padding: 15px 20px;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid #aaa;
    font-size: 18px;
    font-weight: bold;
}

.box_tittle {
    background-color: rgba(var(--main-color-rgb), 0.1);
    border-radius: 3px;
    margin-bottom: 15px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    border: 1px solid var(--main-color);
}

.left_box img {
    width: 100%;
    height: 220px;
    border: 2px solid white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    object-fit: cover;
}

.hotel_name {
    font-size: 18px;
    font-weight: bold;
}

.hotel_name sup {
    color: var(--secondary-color);
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: 5px;
}

.hotel_address {
    margin-top: 5px;
    font-size: 12px;
    display: block;
}

.score {
    width: fit-content;
    padding: 8px 12px;
    background-color: var(--main-color);
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin: 8px auto 0px;
}

.reviews {
    display: block;
    width: fit-content;
    margin: 5px auto 0px;
    color: #666;
    font-size: 14px;
}

.dates_length_wrapper {
    display: flex;
    flex-direction: column;
}

.dates_wrapper {
    display: flex;
    margin-bottom: 20px;
}

.dates_wrapper:last-child {
    margin-bottom: 0px;
}

.date_box {
    flex: 1;
}

.divider {
    border-right: 1px solid #999;
    margin: 25px 15px 0px;
}

.divider_no_border {
    border: none;
}

.date_box span {
    display: block;
}

.date_tittle {
    font-size: 14px;
    margin-bottom: 8px;
}

.date {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}

.hour {
    font-size: 13px;
    color: #555;
}

.room_type {
    margin-bottom: 5px;
    font-size: 15px;
}

.board_name {
    margin-left: 8px;
}

.green {
    color: var(--main-color-light);
}

.price_line {
    font-size: 13px;
    margin-bottom: 8px;
}

.price_line span:nth-of-type(2) {
    float: right;
}

.total_price {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.total_price span:nth-of-type(2) {
    float: right;
}

.policy_tittle {
    font-size: 14px;
    font-weight: bold;
}

.policy_text {
    font-size: 13px;
    margin-top: 4px;
    display: block;
}

.additional_item {
    font-size: 13px;
    margin-bottom: 10px;
}

.additional_tittle {
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
}

.additional_text {
    display: block;
}

.step span {
    margin-left: 10px;
}

.name-mandatory-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
}

.name_wrapper {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    max-width: 375px;
    justify-content: space-between;
    margin-right: auto;
}

.name_wrapper > div {
    margin-right: 15px;
}

.mandatory_wrapper {
    align-self: flex-end;
    flex-shrink: 0;
    height: fit-content;
    font-size: 13px;
    background-color: rgba(var(--main-color-rgb), 0.2);
    padding: 7px;
    border-radius: 3px;
    color: var(--main-color);
    margin-bottom: 20px;
}

em {
    color: red;
}

.input_wrapper {
    font-size: 13px;
    margin-bottom: 20px;
}

.input_wrapper label {
    font-weight: bold;
    margin-left: 2px;
    display: block;
    width: fit-content;
}

.input_wrapper label .mandatory {
    color: red;
    margin-left: 3px;
}

.input_wrapper input,
.input_wrapper select {
    display: inline-block;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-top: 2px;
    padding: 4px 5px;
}

.is-invalid {
    border: 2px solid red;
}

.info {
    display: inline-block;
    margin-top: 5px;
    font-style: italic;
    font-size: 12px;
}

.invalid-feedback,
.error {
    color: red;
    display: block;
    margin-top: 5px;
    margin-left: 2px;
    font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#email,
#phone {
    margin-right: 10px;
}

#email,
#email_confirmation {
    width: 100%;
    max-width: 270px;
}

#card_name,
#card_number {
    width: 180px;
}

#expiry_month,
#expiry_year {
    width: 60px;
}

#cvc {
    width: 70px;
}

#expiry_divider {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 3px;
}

.room_box {
    display: flex;
    flex-wrap: wrap;
}

.room_right,
.room_left {
    margin-top: 10px;
}

.room_left {
    padding-right: 20px;
    height: 155px;
    max-width: 255px;
}

.room_right {
    flex: 1;
    min-width: 150px;
    display: flex;
    flex-direction: column;
}

.room_left img {
    height: 100%;
    min-width: 200px;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.room_name_wrapper {
    display: flex;
}

.room_name_wrapper span:nth-child(1),
.room_name_wrapper span:nth-child(2) {
    margin-right: 3px;
    font-weight: bold;
}

.room_name {
    font-weight: bold;
    font-size: 17px;
}

.guests_icons {
    display: flex;
    font-size: 15px;
    margin-left: 5px;
}

.guests_icons i {
    margin-left: 2px;
    margin-top: 1.5px;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 0px;
}

.amenity {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    width: fit-content;
    border-radius: 3px;
    padding: 3px 4px;
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.amenity i {
    width: 15px;
    text-align: center;
}

.amenity span {
    margin-left: 5px;
}

.room_right label {
    font-size: 13px;
    font-weight: bold;
}

#special_requests {
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.payment_box {
    display: flex;
}

.payment_info {
    width: 300px;
    margin: 20px auto 0px;
}

.payment_info span {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.payment_info img {
    height: 25px;
}

.secure_wrapper {
    margin-top: 20px;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}

.secure_item {
    display: flex;
}

.secure_item i {
    color: var(--main-color);
}

.secure_item span {
    font-weight: normal;
    margin-left: 10px;
}

.secure_wrapper .lock {
    color: rgba(var(--main-color-rgb), 0.1);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
}

.booking_terms {
    padding: 0px 20px;
    font-size: 14px;
    margin-bottom: 15px;
}

.booking_terms a {
    color: var(--main-color);
    font-weight: bold;
}

.booking_terms em {
    color: var(--main-color);
    font-weight: bold;
    font-style: normal;
}

.confirm_wrapper {
    display: flex;
    align-items: center;
}

.confirm_wrapper span {
    margin-left: auto;
    font-style: italic;
    font-size: 14px;
    margin-right: 15px;
}

.confirm_button {
    font-size: 18px;
    color: white;
    background-color: var(--main-color-light);
    border: none;
    padding: 12px 15px;
    border-radius: 2px;
    cursor: pointer;
    flex-shrink: 0;
}

.confirm_button:hover {
    background-color: var(--main-color);
}

.confirm_button i {
    margin-right: 10px;
    font-size: 16px;
}

@media (max-width: 1000px) {
    .payment_info {
        padding-left: 20px;
        width: 320px;
        margin: 20px 0px 0px auto;
    }
}

@media (max-width: 900px) {
    .payment_box {
        flex-direction: column;
    }
    .payment_info {
        order: -1;
        padding-left: 0px;
        margin: 0px 0px 20px;
    }
    .booking_terms {
        padding: 0px 10px;
    }
}

@media (max-width: 750px) {
    .confirm_wrapper {
        flex-wrap: wrap;
    }
    .confirm_button {
        margin: 10px 10px 0px auto;
    }
    .confirm_wrapper span {
        margin: 0px 10px;
    }
}

@media (max-width: 725px) {
    .payment_info {
        width: 100%;
    }
}

@media (max-width: 680px) {
    .secure_wrapper .fa-user-lock {
        display: none;
    }
}

@media (max-width: 575px) {
    .internal_wrapper {
        flex-wrap: wrap;
    }
    .right_content {
        margin-left: 0px;
    }
    .left_content {
        width: 100%;
    }
    .secure_wrapper .fa-user-lock {
        display: block;
    }
    .dates_length_wrapper {
        flex-direction: row;
    }
    .dates_wrapper:last-child {
        margin-left: 20px;
    }
    .dates_wrapper:first-child .date {
        white-space: nowrap;
    }
    .dates_wrapper:last-child > .date_box {
        flex: unset;
    }
    .divider_no_border {
        margin: 25px 10px 0px;
    }
    .date_title {
        white-space: nowrap;
    }
}

@media (max-width: 500px) {
    .dates_length_wrapper {
        flex-direction: column;
    }
    .dates_wrapper:last-child {
        margin-left: unset;
    }
    .dates_wrapper:first-child .date {
        white-space: unset;
    }
    .dates_wrapper:last-child > .date_box {
        flex: 1;
    }
    .divider_no_border {
        margin: 25px 15px 0px;
    }
    .date_title {
        white-space: wrap;
    }
}

@media (max-width: 360px) {
    .right_content {
        margin: 15px -20px 0px;
    }
    .right_box,
    .step {
        border-radius: 0px;
    }
}
