#hotel_left {
    margin-top: 15px;
}

.location {
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 15px;
}

.map_wrapper {
    position: relative;
    height: 90px;
    width: 100%;
    background: url(../images/search/map.jpeg);
    background-size: 250px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 3px var(--main-color);
    border: 1px solid transparent;
}

.map_wrapper:hover,
.head_map:hover {
    border: 1px solid var(--main-color-light);
    box-shadow: 0 0 5px var(--main-color-light);
}

.map_wrapper:hover .map_text,
.map_wrapper:hover .fa-map-marker-alt,
.head_map:hover .map_text,
.head_map:hover .fa-map-marker-alt {
    color: var(--main-color-light);
}

.position_icon {
    width: fit-content;
    margin: 5px auto;
    margin-top: 10px;
}

.position_icon i {
    color: var(--main-color);
}

.map_text {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 7px 0px;
    color: var(--main-color);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
}

.map_text_mobile {
    display: none;
    font-weight: bold;
}

.location_rating {
    display: flex;
    margin: 12px 0px 12px;
}

.location_score {
    background-color: var(--main-color-light);
    height: 35px;
    width: 35px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    display: flex;
}

.location_score span {
    margin: auto;
}

.location_quality_wrapper {
    margin-left: 10px;
}

.location_quality {
    display: block;
    font-size: 16px;
}

.location_text {
    display: block;
    font-size: 12px;
    margin-top: 2px;
}

.location_item {
    margin-bottom: 5px;
    font-size: 16px;
}

.gold {
    color: rgb(255, 208, 74);
}

.gold_background {
    background-color: rgb(255, 208, 74);
    padding: 2px 2px;
}

.red {
    color: red;
}

.location_item i {
    width: 20px;
    text-align: center;
}

.location_item span {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    transform: translateY(-1.5px);
}

.location_divider {
    height: 20px;
    border-bottom: 1px solid rgb(221, 223, 226);
}

.points_tittle {
    display: inline-block;
    margin: 18px 0px;
}

.point_of_interest {
    font-size: 12px;
    overflow: auto;
    margin-bottom: 10px;
}

.point_name {
    float: left;
}

.point_distance {
    float: right;
}

#hotel_page {
    margin-top: 3px;
}

.top_bar {
    display: flex;
    align-items: stretch;
}

.top_bar a {
    flex: 1;
    background-color: white;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    margin-left: -1px;
    text-align: center;
    padding: 8px 0px;
}

.top_bar a:hover {
    background-color: var(--main-color);
    color: white;
}

.head {
    display: flex;
    margin-top: 10px;
}

.head_tittle {
    max-width: 650px;
    margin-right: 20px;
}

.head_book {
    width: fit-content;
    margin-left: auto;
    direction: rtl;
}

.tittle {
    overflow: auto;
    width: fit-content;
}

.name {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color-light);
}

.stars_wrapper {
    float: left;
    margin-left: 5px;
    transform: translateY(-1px);
}

.stars {
    color: var(--secondary-color);
    font-size: 16px;
}

.map_icon {
    margin-top: 5px;
    margin-right: 5px;
    color: var(--main-color);
}

.address {
    margin-left: 0px;
    font-size: 14px;
}

.see_map {
    color: var(--main-color);
    font-weight: bold;
    margin-top: 2px;
    cursor: pointer;
}

.see_map:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.distance_center {
    margin-top: 3px;
    font-size: 13px;
}

.spotlight_wrapper {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.spotlight {
    margin-top: 5px;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 3px;
    width: fit-content;
    background-color: rgba(var(--main-color-rgb), 0.2);
    padding: 4px 6px;
    white-space: nowrap;
}

.spotlight i {
    width: 20px;
    text-align: center;
}

.spotlight span {
    margin-left: 10px;
}

.head_map {
    display: none;
    margin-left: auto;
    margin-right: 3px;
    position: relative;
    height: 70px;
    min-width: 100px;
    background: url(../images/search/map.jpeg);
    background-size: 250px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 3px var(--main-color);
}

.head_map_icon {
    font-size: 20px;
    width: fit-content;
    margin: 8px auto 0px;
    color: var(--main-color);
}

.nightly_price {
    width: fit-content;
    font-size: 24px;
}

.head_nightly_text {
    font-size: 16px;
    margin-top: 4px;
}

.total_price {
    width: fit-content;
    font-size: 12px;
    margin-top: 2px;
    direction: ltr;
}

.head_button {
    width: fit-content;
    margin-top: 6px;
}

.head_button button {
    padding: 10px 16px;
    color: white;
    background-color: var(--main-color-light);
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.head_button button:hover {
    background-color: var(--main-color);
}

.gallery {
    position: relative;
    margin-top: 10px;
}

.slideshow {
    height: 460px;
    position: relative;
}

.slide {
    height: 100%;
}

#slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.arrow_left,
.arrow_right {
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 15%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 50%);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.arrow_left {
    left: 5%;
}

.arrow_right {
    right: 5%;
}

.arrow_left:hover,
.arrow_right:hover {
    background-color: rgba(255, 255, 255, 80%);
}

.arrow_right i,
.arrow_left i {
    color: var(--main-color-light);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.arrow_right i {
    left: 35%;
}

.arrow_left i {
    left: 30%;
}

.slides_index {
    margin-top: 5px;
}

.min_slide {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: none;
    margin-right: 4px;
}

.min_slide:hover {
    filter: opacity(50%);
}

.min_slide_selected {
    outline: 3px solid var(--main-color-light);
}

.slide_img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 1px;
}

.hotel_review {
    position: absolute;
    top: 11px;
    right: 11px;
    background-color: rgb(242, 246, 245);
    cursor: pointer;
    padding: 7px 7px 7px 30px;
}

.quality_number {
    float: left;
    margin-right: 5px;
}

.quality_wrapper {
    margin-left: auto;
    margin-right: 0;
    font-size: 16px;
    color: var(--main-color);
    width: fit-content;
}

.nr_reviews_wrapper {
    font-size: 12px;
    color: #6b6b6b;
    width: fit-content;
    float: right;
}

.score_wrapper {
    float: right;
    height: 35px;
    width: 35px;
    background-color: var(--main-color);
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
}

.score_wrapper:hover {
    background-color: var(--main-color-light);
}

.score_wrapper span {
    margin: auto;
}

.description_wrapper {
    margin-top: 15px;
    display: flex;
}

.description {
    flex: 1;
}

.description_tittle {
    width: fit-content;
    font-size: 18px;
}

.descrition_text {
    font-size: 14px;
}

.descrition_text p {
    margin: 14px 0px;
    text-align: justify;
}

.top_facilities {
    width: 35%;
    min-width: 205px;
    max-width: 275px;
    background-color: rgba(var(--main-color-rgb), 0.05);
    border-radius: 4px;
    margin-left: 40px;
    padding: 20px;
    height: fit-content;
}

.top_facilities_tittle {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--main-color);
}

.top_facility {
    margin-bottom: 15px;
    font-size: 16px;
}

.top_facility i {
    width: 20px;
    text-align: center;
}

.top_facility span {
    margin-left: 10px;
}

.green {
    color: var(--main-color);
}

.blue {
    color: rgb(10, 10, 143);
}

.top_facilities > a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.top_facilities button {
    margin-top: 10px;
    padding: 12px 15px;
    color: white;
    background-color: var(--main-color-light);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.top_facilities button:hover {
    background-color: var(--main-color);
}

.availability {
    margin-top: 15px;
    padding: 25px;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
}

.section_tittle {
    font-size: 24px;
    margin-bottom: 20px;
}

.search_update {
    padding: 15px 20px;
    display: flex;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 15px;
}

.search_box {
    align-items: center;
    height: 55px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    cursor: pointer;
}

.dates_boxes {
    flex: 1 0 auto;
    justify-content: space-evenly;
    max-width: 300px;
    display: flex;
}

.guests_box {
    flex: 1 0 auto;
    max-width: fit-content;
    margin-left: 20px;
    padding: 0px 20px;
    flex-shrink: 0;
    display: flex;
}

/* doesn't allow range of 0 to be picked */
.start-date.in-range {
    pointer-events: none;
}

.update_wrapper {
    margin-left: auto;
    border: none;
    flex: 1 0 75px;
    max-width: 165px;
    padding-left: 20px;
}

.dates_box {
    padding: 0px 8px;
}

.box_divider {
    border-left: 1px solid #c6c6c6;
    height: 100%;
}

.box_title {
    width: fit-content;
    color: rgb(102, 102, 102);
    font-size: 13px;
    margin-bottom: 5px;
}

.box_text {
    width: fit-content;
    font-size: 15px;
    font-weight: bold;
}

.search_box button {
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    color: white;
    background-color: var(--main-color-light);
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #c6c6c6;
}

.search_box button:hover {
    background-color: var(--main-color);
}

.update_overlay {
    display: none;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    min-width: var(--min_width);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    justify-content: center;
}

.display_update_overlay {
    display: flex;
}

.update_popup {
    width: 90%;
    max-width: 700px;
    background-color: rgb(242, 242, 242);
    padding: 25px;
    border-radius: 3px;
    position: relative;
    top: 20%;
    height: fit-content;
}

.update_tittle {
    font-size: 21px;
    margin-bottom: 15px;
}

.update_close {
    height: 37px;
    width: 37px;
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: whitesmoke;
    border-radius: 150px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.close {
    border: none;
    opacity: 0.4;
    position: relative;
    left: calc(50% - 1.3px);
    top: 9px;
}

.update_close:hover .close {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    content: " ";
    height: 20px;
    width: 2px;
    background-color: var(--main-color-light);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.search_bar_update form {
    display: flex;
    justify-content: space-between;
}

.bar_box_update {
    background-color: white;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 8px;
    color: #444;
}

.dates_wrapper_update,
.guests_wrapper_update {
    position: relative;
    height: 60px;
}

.daterangepicker_update .drp-calendar {
    float: left !important;
}

.icon_label_update {
    position: absolute;
    top: 33%;
    left: 15px;
    cursor: pointer;
}

.check_in_update,
.check_out_update {
    position: absolute;
    top: 8px;
    font-size: 14px;
    cursor: pointer;
}

.check_in_update {
    left: 47px;
}

.check_out_update {
    left: 141px;
}

.dates_input_update {
    width: 255px;
    height: 100%;
    padding: 20px 0px 0px 45px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.guests_wrapper_update {
    cursor: pointer;
    padding: 6px 15px 6px 55px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.guests_wrapper_update > i {
    position: absolute;
    top: 33%;
    left: 15px;
}

.box_tittle_update {
    font-size: 14px;
    margin-bottom: 5px;
}

.box_content_update {
    font-size: 16px;
    font-weight: bold;
    white-space: unset;
    padding-right: unset;
    min-width: unset;
}

.bar_button_update {
    background-color: var(--main-color-light);
    font-size: 22px;
    color: white;
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.bar_button_update:hover {
    background-color: var(--main-color);
}

.rooms_header {
    display: flex;
    background-color: var(--main-color-light);
    height: 45px;
    border: 1px solid #c6c6c6;
    transform: translateY(3px);
    z-index: -1000;
}

.room_header_wrapper {
    display: flex;
}

.room_header_sub_wrapper {
    flex: 1;
    display: flex;
}

.header_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_box span {
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.room {
    display: flex;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    background-color: white;
}

.room_wrapper,
.room_header_wrapper {
    width: 100%;
    min-width: 100%;
}

.room_content {
    display: flex;
    border: none;
}

.offer_wrapper {
    display: flex;
}

.room_offers,
.header_offers {
    flex: 1;
}

.room_offers {
    display: flex;
    flex-direction: column;
}

.room_offer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.room_offer,
.header_offers {
    width: 50%;
}

.room_reserve,
.header_select_rooms {
    flex: 1;
}

.room_content {
    border-bottom: 1px solid #c6c6c6;
}

.room_offers,
.header_offers {
    border-right: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
}

.offer_select {
    display: flex;
    border-bottom: 1px solid #c6c6c6;
}

.header_select_rooms {
    border-right: 1px solid #c6c6c6;
}

.offer_select:last-child {
    flex: 1;
    border-bottom: none;
}

.room_type,
.header_room_type {
    width: 40%;
}

.room_type {
    padding: 20px;
}

.room_reserve {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #c6c6c6;
    padding: 20px;
}

.nr_rooms {
    font-size: 14px;
    font-weight: bold;
    padding: 3px 23px 4px 6px;
    appearance: none;
    background-color: white;
    border: solid 1px #333;
    border-radius: 3px;
    background-image: url("../images/hotel/sort_down_solid.svg");
    background-position: right 4px top 2px;
    background-size: 8px auto, 100%;
    background-repeat: no-repeat, repeat;
    cursor: pointer;
}

.nr_rooms:hover {
    box-shadow: 0px 0px 5px 2px #333;
}

.room_image {
    height: 150px;
    margin-bottom: 12px;
    cursor: pointer;
}

.room_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.room_name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 9px;
}

.room_capacity {
    margin-bottom: 12px;
    display: flex;
    align-items: baseline;
}

.room_guests_icon i {
    font-size: 14px;
}

.more_details {
    font-size: 14px;
    font-weight: bold;
    color: var(--main-color-light);
    margin-bottom: 20px;
    cursor: pointer;
}

.amenity {
    margin-bottom: 15px;
    font-size: 14px;
}

.amenity > span {
    margin-left: 5px;
}

.room_ul {
    font-size: 14px;
}

.room_ul li {
    margin-bottom: 5px;
}

.room_total {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

.room_reserve > span {
    font-size: 13px;
    text-align: center;
}

.nights_text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.price_per_night {
    margin-top: 5px;
}

.total_guests_text {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(102, 102, 102);
}

.offer {
    display: flex;
    margin-top: 15px;
    color: rgb(102, 102, 102);
}

.offer span {
    margin-left: 8px;
    font-size: 14px;
}

.offer i {
    min-width: 20px;
    text-align: center;
}

.green {
    color: var(--main-color-light);
}

.rooms_left i {
    color: rgb(255, 208, 74);
}

.rooms_left span {
    background-color: rgb(255, 208, 74);
    border-radius: 3px;
    padding: 3px 6px;
}

.room_reserve a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.room_reserve button {
    flex: 1;
    max-width: 150px;
    height: 40px;
    color: white;
    background-color: var(--main-color-light);
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.room_reserve button:hover {
    background-color: var(--main-color);
}

.no_avail_wrapper {
    height: 50px;
    background-color: rgba(var(--main-color-rgb), 0.15);
    border-radius: 3px;
    margin: 40px auto 40px;
    padding: 10px 20px 10px 10px;
}

.no_avail_icon {
    float: left;
    width: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
}

.no_avail_icon img {
    width: 35px;
}

.no_avail_message {
    float: left;
    width: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.no_avail_message span {
    font-size: 16px;
    white-space: nowrap;
}

.facilities {
    margin-top: 15px;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    padding: 25px;
}

.facilities_wrapper {
    column-count: 3;
}

.facilities_group {
    margin-bottom: 18px;
    break-inside: avoid-column;
}

.facilitites_tittle {
    margin-bottom: 10px;
    font-size: 16px;
}

.facilitites_tittle i {
    width: 20px;
    text-align: center;
}

.facilitites_tittle span {
    margin-left: 10px;
}

.facilities_group ul {
    list-style: none;
    padding-left: 0px;
}

.facilities_group li {
    padding-left: 33px;
    background-image: url("../images/hotel/check.svg");
    background-repeat: no-repeat;
    background-position: left 5px top 1px;
    background-size: 10px auto, 100%;
    font-size: 13px;
    margin-bottom: 5px;
    padding-right: 15px;
}

.house_rules {
    margin-top: 15px;
    padding: 25px;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
}

.rule {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(133, 135, 139, 0.3);
}

.rule_tittle {
    margin-bottom: 10px;
    font-size: 16px;
    flex: 1;
    max-width: 275px;
    min-width: 225px;
}

.rule_tittle i {
    width: 20px;
    text-align: center;
}

.rule_tittle span {
    margin-left: 15px;
}

.rule_content {
    flex: 1;
    min-width: 225px;
    font-size: 14px;
    padding-left: 36px;
}

.rule_content span {
    display: block;
    margin-bottom: 4px;
    line-height: 17px;
}

.rule_content i {
    width: 30px;
    margin: 0px 5px;
}

@media (max-width: 1000px) {
    .internal_wrapper {
        flex-direction: column;
    }
    .left_content {
        width: 100%;
        max-width: none;
    }
    .right_content {
        margin-left: 0px;
    }
    #hotel_left {
        display: none;
    }
    #hotel_page {
        margin-top: 12px;
    }
    .search {
        padding: 10px;
        min-width: 300px;
    }
    .search_wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .destination_wrapper {
        flex: 1;
    }
    .destination_wrapper,
    .dates_wrapper,
    .guests_wrapper,
    .search_button {
        margin-top: 0px;
    }
    .dates_wrapper,
    .guests_wrapper,
    .search_button {
        margin-left: 10px;
    }
    .search_button > button {
        height: 100%;
    }
    .search_title,
    #nights {
        display: none;
    }
    .head_book {
        display: none;
    }
    .head_map {
        display: block;
    }
    .see_map,
    .map_divider {
        display: none;
    }
}

@media (max-width: 800px) {
    .search_button {
        margin-top: 12px;
        flex-basis: 100%;
        margin-left: 0px;
    }
    .drp-calendar {
        float: none !important;
    }
    .slides_index {
        display: none;
    }
}

@media (max-width: 790px) {
    .search_bar_update form {
        flex-direction: column;
    }
    .update_popup {
        width: fit-content;
    }
    .dates_wrapper_update,
    .guests_wrapper_update {
        margin-bottom: 15px;
    }
    .dates_input_update {
        width: 100%;
    }
    .bar_button_update {
        height: 55px;
    }
    .daterangepicker_update {
        left: 50% !important;
        transform: translateX(-50%);
    }
    .daterangepicker_update.opensright:after,
    .daterangepicker_update.opensright:before {
        left: 50%;
    }
}

@media (max-width: 675px) {
    .drp-calendar {
        float: left !important;
    }
    .availability {
        margin: 15px -15px 0px -15px;
        border-radius: 0px;
        padding: 25px 15px;
    }
    .search_update {
        padding: 0px;
        background-color: rgb(242, 242, 242);
        border: none;
    }
    .search_box {
        background-color: white;
    }
    .update_wrapper {
        background-color: rgb(242, 242, 242);
    }
    .guests_box {
        margin-left: 10px;
        padding: 0px 10px;
    }
    .update_wrapper {
        padding-left: 10px;
    }
}

@media (max-width: 600px) {
    .room_type,
    .header_room_type {
        width: 50%;
    }
    .offer_select {
        flex-direction: column;
    }
    .room_reserve {
        border-left: none;
        margin: 0px auto;
        height: unset;
        order: -1;
    }
    .room_offer {
        width: fit-content;
        max-width: 200px;
        align-self: center;
        padding-top: 0px;
        padding-bottom: 25px;
    }
    .header_select_rooms {
        display: none;
    }
    .header_select_rooms {
        flex: 1;
        border-left: 1px solid #c6c6c6;
    }
    .offer:first-child {
        margin-top: 0px;
    }
    .room_reserve a {
        margin-bottom: 10px;
    }
    .reserve_info {
        margin-bottom: 0px;
    }
}

@media (max-width: 590px) {
    .drp-calendar {
        float: none !important;
    }
    .spotlight {
        display: none;
    }
    .spotlight:first-child,
    .spotlight:nth-child(2) {
        display: block;
    }
    .gallery {
        margin-right: -15px;
        margin-left: -15px;
    }
    .slides_index {
        padding: 0px 5px;
    }
    .hotel_review {
        padding: 7px 7px 7px 15px;
    }
    .room_type,
    .room_reserve {
        padding: 20px 10px;
    }
    .room_ul {
        padding-inline-start: 20px;
    }
    .facilities_wrapper {
        column-count: 2;
    }
}

@media (max-width: 550px) {
    .guests_box {
        display: none;
    }
    .update_wrapper {
        max-width: 125px;
    }
}

@media (max-width: 525px) {
    .daterangepicker_update .drp-calendar {
        float: none !important;
    }
    .update_overlay {
        align-items: flex-start;
    }
    .update_popup {
        top: 15px;
    }
    .update_close {
        top: -10px;
        right: -10px;
    }
    .update_tittle {
        display: none;
    }
}

@media (max-width: 500px) {
    .top_facilities {
        min-width: 165px;
        padding: 20px 15px;
        margin-left: 20px;
    }
    .top_facilities button {
        padding: 12px 10px;
    }
    .top_bar {
        display: none;
    }
    .head {
        margin-top: 0px;
    }
    .facilities,
    .house_rules {
        margin: 15px -15px 0px -15px;
        border-radius: 0px;
        padding: 25px 20px;
    }
}

@media (max-width: 450px) {
    .head_map {
        display: none;
    }
    .see_map,
    .map_divider {
        display: inline-block;
    }
    .head {
        margin: 0 -5px;
    }
}

@media (max-width: 425px) {
    .description_wrapper {
        flex-direction: column;
    }
    .top_facilities {
        width: 100%;
        max-width: unset;
        margin-left: 0px;
        padding: 20px;
    }
    .top_facilities_wrapper {
        column-count: 2;
    }
    .top_facility {
        display: inline-block;
    }
    .top_facility span {
        margin-left: 5px;
    }
    .availability {
        padding: 25px 0px;
    }
    .availability > .section_tittle,
    .dates_boxes {
        margin-left: 10px;
    }
    .search_box {
        margin-right: 10px;
    }
}

@media (max-width: 375px) {
    .room_ul {
        padding-inline-start: 15px;
        word-wrap: break-word;
    }
}

@media (max-width: 350px) {
    .top_facilities {
        padding: 20px 15px;
    }
}
