html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    --main-color: #005743;
    --main-color-light: #008c6c;
    --secondary-color: #c6c013;
    --main-color-rgb: 0, 87, 67;
    --max_internal_width: 1165px;
    --min-width: 320px;
}

body {
    color: #333;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    min-width: var(--min-width);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: var(--main-color);
    height: 60px;
    position: relative;
    z-index: 1;
}

.header_content {
    display: flex;
    height: 100%;
    max-width: var(--max_internal_width);
    margin: 0px auto;
    align-items: center;
    padding: 0px 15px;
}

.logo_wrapper {
    margin-right: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 400px) {
    .logo_wrapper {
        margin-right: 15px;
    }
    .header_content {
        padding: 0px 10px;
    }
    .logo_img {
        height: 34px !important;
    }
}

@media (max-width: 360px) {
    .logo_img {
        display: none;
    }
}

.logo_wrapper > a {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
}

.logo_img {
    height: 38px;
}

.logo_text {
    margin-left: 5px;
    margin-top: 3px;
    display: flex;
    align-items: baseline;
}

.logo_hotel {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.logo_brand {
    margin-left: 0.5px;
    font-size: 26px;
    color: var(--main-color-light);
    filter: brightness(150%);
}

.logo_wrapper > img {
    width: 150px;
}

.user_wrapper {
    position: relative;
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 250px;
}

.user_items {
    cursor: pointer;
}

#currency {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#flag {
    display: block;
    margin: auto;
    width: 70%;
}

.user_items button {
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.account_dropdown {
    height: fit-content;
    color: white;
}

.account_dropdown:hover,
.account_dropdown:focus {
    color: rgba(255, 255, 255, 0.85);
}

.caret {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown_menu {
    position: absolute;
    right: 0px;
    top: 50px;
    display: none;
    min-width: 150px;
    padding: 8px 0px;
    font-size: 14px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.dropdown_item {
    display: block;
    width: 100%;
    padding: 8px 25px;
    text-decoration: none;
    color: #333;
}

.dropdown_item:hover,
.dropdown_item:focus {
    background-color: rgba(var(--main-color-rgb), 0.1);
}

.dropdown_item.active,
.dropdown_item:active {
    color: white;
    background-color: var(--main-color);
}

.internal {
    flex: 1;
}

.internal_wrapper {
    max-width: var(--max_internal_width);
    margin: 0px auto;
    display: flex;
    padding: 15px 20px;
}

.right_content {
    margin-left: 18px;
    flex: 1;
}

.daterangepicker {
    width: fit-content !important;
}

.ranges {
    margin-top: 0px !important;
}

@media (max-width: 590px) {
    .daterangepicker {
        font-size: 13px !important;
        left: 50% !important;
        transform: translateX(-50%);
        min-width: 245px;
    }

    .drp-calendar {
        float: none;
        width: auto;
        padding: 8px !important;
    }
}

.guests_selection {
    display: none;
    flex-direction: column;
    top: calc(100% + 9px);
    left: 0px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: auto;
    padding: 5px 0px;
    z-index: 1;
}

.guests_selection:before,
.guests_selection:after {
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
}

.guests_selection:before {
    left: 10px;
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ccc;
}
.guests_selection:after {
    left: 11px;
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
}

.item_selection {
    display: flex;
    justify-content: space-between;
    width: 190px;
    font-size: 16px;
    padding: 20px 20px;
}

.item_selection i {
    cursor: pointer;
    color: var(--main-color);
}

.first_footer {
    background-color: var(--main-color-light);
    padding: 0px 5px 12px;
}

.second_footer {
    background-color: var(--main-color);
    padding: 0px 15px 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.first_footer_items_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px auto;
    max-width: 1000px;
}

.first_footer_item {
    padding: 12px 5px 0px;
}

.first_footer_item button {
    color: white;
    font-size: 14px;
    width: 190px;
    padding: 5px 0px;
    background-color: var(--main-color-light);
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.first_footer_item button:hover {
    background-color: var(--main-color);
}

.copyright_wrapper {
    font-size: 10px;
    color: white;
    width: fit-content;
    margin: auto 0px;
    padding: 15px 0px 0px;
}

.copyright_wrapper,
.center_auxiliar {
    flex: 2 0 170px;
}

.second_footer_links {
    flex: 1 1 450px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 20px 0px;
}

.second_footer_links > a {
    font-size: 14px;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
}

.second_footer_links > a:hover {
    color: white;
    text-decoration: none;
}

@media (max-width: 700px) {
    .copyright_wrapper {
        flex-basis: 100%;
        text-align: center;
    }

    .center_auxiliar {
        display: none;
    }
}
