html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    --main-color: #005743;
    --main-color-light: #008c6c;
    --secondary-color: #c6c013;
    --main-color-rgb: 0, 87, 67;
    --max_internal_width: 1125px;
    --min-width: 320px;
}

body {
    color: #333;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    min-width: var(--min-width);
}

.header {
    background: var(--main-color);
    height: 60px;
    position: relative;
    z-index: 1;
}

.header_content{
    display:flex;
    height: 100%;
    max-width: var(--max_internal_width);
    margin:0px auto;
    align-items: center;
}

.logo_wrapper {
    margin-left: 15px;
    height: 100%;
    display: flex;
    align-items: center;

}

.logo_wrapper a{
text-decoration: none;
}

.logo_hotel {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.logo_switch {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.logo_com {
    color: var(--main-color-light);
    filter: brightness(150%);
    margin-left: 0px;
    font-size: 18px;
    font-weight: bold;
}

.logo_wrapper img {
    width: 150px;
}

.user_wrapper {
    position:relative;
    height: 100%;
    margin: 0px 15px 0px auto;
    display: flex;
    align-items: center;
}

.user_items {
    margin: 0px 10px;
    padding: 0px 5px;
    cursor: pointer;
}

#currency {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#flag {
    display: block;
    margin: auto;
    width: 70%;
}

.user_items button {
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.account_dropdown {
    height: fit-content;
    color: white;
}

.account_dropdown:hover,
.account_dropdown:focus {
    color: rgba(255, 255, 255, 0.85)
}

.caret {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}


.dropdown_menu {
    position: absolute;
    right:0px;
    top:50px;
    display: none;
    min-width: 150px;
    padding: 8px 0px;
    font-size: 14px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.dropdown_menu_show {
    display: block;
}

.dropdown_item {
    display: block;
    width: 100%;
    padding: 8px 25px;
    text-decoration: none;
    color: #333;
}

.dropdown_item:hover,
.dropdown_item:focus {
    background-color: rgba(var(--main-color-rgb), 0.10);
}

.dropdown_item.active,
.dropdown_item:active {
    color: white;
    background-color: var(--main-color);
}

.internal {
}

.internal_wrapper {
    width: var(--max_internal_width);
    overflow: auto;
    margin: 0px auto;
}

.left {
    float: left;
    padding: 10px 5px;
    width: 265px;
}

.right {
    position: relative;
    padding: 18px 18px;
    float: left;
    width: calc(100% - 265px);
}

.search {
    height: auto;
    width: auto;
    margin: 0px, 12px;
    margin-top: 5px;
    padding: 20px 20px;
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.search_wrapper {
    font-size: 14px;
    overflow: auto;
}

.search_title {
    font-size: 25px;
    width: fit-content;
}

.search_label {
    margin-top: 12px;
    margin-bottom: 3px;
    width: fit-content;
}

.search_select {
    margin-top: 12px;
}

.search_input input,
.search_select select {
    height: 32px;
    width: 100%;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.search_input_destination input {
    cursor: auto;
}

#nights {
    margin-top: 3px;
}

#children {
    float: left;
}

#rooms {
    float: right;
}

#children,
#rooms {
    width: calc(50% - 5px);
}

.search_button {
    float: right;
    margin-top: 10px;
}

.search_button button {
    font-size: 22px;
    color: white;
    background-color: var(--main-color-light);
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.search_button button:hover {
    background-color: var(--main-color);
}

.footer {
}

.first_footer {
    background-color: var(--main-color-light);
    display: flex;
    padding-bottom: 10px;
}

.second_footer {
    height: 50px;
    background-color: var(--main-color);
    position: relative;
}

.first_footer_items_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin:0px auto;
    justify-content: center;
}

.first_footer_item {
    margin-top:10px;
    padding:0px 10px;
}

.first_footer_item button {
    color: white;
    font-size: 14px;
    padding: 5px 20px;
    background-color: var(--main-color-light);
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.first_footer_item button:hover {
    background-color: var(--main-color);
}

.second_footer_items_wrapper {
    position: absolute;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.second_footer_item {
    color: white;
    width: fit-content;
    float: left;
    padding: 0px 50px;
}

.second_footer_item a {
    font-size: 14px;
    color: white;
}

.copyright_wrapper {
    position: absolute;
    top: 6px;
    width: 150px;
    left: 5px;
    font-size: 10px;
    color: white;
}

.copyright_wrapper span {
    float: left;
}