.hopping_wrapper {
    margin-top: 15px;
    background-color: var(--main-color);
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.hopping_toggle {
    height: 40px;
    border-bottom: 2px solid white;
    padding-left: 5px;
    padding-right: 5px;
}

.hooping_title {
    float: left;
    font-size: 21px;
    font-weight: bold;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px 0px;
}

.toogle_wrapper {
    float: right;
    margin-right: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 0px;
    bottom: 1px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--main-color-light);
    filter: brightness(150%);
}

input:focus + .slider {
    box-shadow: 0 0 2px var(--main-color-light);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.hopping_filter {
    height: 30px;
    margin: 10px 0px;
    font-size: 14px;
    font-weight: bold;
}

.hopping_filter_name_wrapper {
    float: left;
    color: white;
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px 0px;
}

.hopping_select_wrapper {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hopping_select {
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3;
    padding: 3px 23px 4px 6px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-radius: 3px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #bdbdbd;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    cursor: pointer;
}

.hopping_select:-ms-expand {
    display: none;
}

.hopping_select:hover {
    border: 2px solid var(--main-color-light);
    border-radius: 3px;
}

.hopping_select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px var(--main-color-light);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    outline: none;
}

.hopping_select option {
    font-weight: normal;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--main-color-light);
    filter: brightness(150%);
    color: black;
    font-size: 13px;
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 100;
    left: 0px;
    width: 263px;
}

.tooltip .change_hotels {
    bottom: 32px;
    left: -18px;
}

.tooltip .min_saving {
    bottom: 30px;
    left: -13px;
}

.tooltip .max_hopp {
    width: 263px;
    top: 29px;
    left: -13px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.filter_wrapper {
    display: flex;
    flex-direction: column;
    min-width: 175px;
    padding: 4px 4px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}

.filter_section {
    border-bottom: 1px solid #bdbdbd;
}

.filter_section:last-child {
    border-bottom: none;
}

.filter_title {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bdbdbd;
}

.filter_title > span {
    margin-left: 5px;
}

.show_results {
    display: none;
}

.filter_close {
    margin-left: auto;
    cursor: pointer;
    align-self: flex-start;
    display: none;
}

.section_title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    width: fit-content;
}

.section_item {
    width: fit-content;
    margin: 10px;
    height: 25px;
}

.section_item input[type="checkbox"] {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -100vw;
}

.section_item input[type="radio"] {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -100vw;
}

.price_range_item {
    height: auto;
    margin: 10px 20px;
}

.amount_wrapper {
    width: fit-content;
    margin: 0px auto 10px;
}

#amount {
    width: 88px;
    font-size: 14px;
    border: none;
}

.slider_range_wrapper {
    height: 20px;
    cursor: pointer;
}

.ui-slider-handle {
    cursor: pointer !important;
}

.ui-state-hover {
    border: 2px solid var(--main-color-light) !important;
}

.ui-state-active {
    background-color: var(--main-color-light) !important;
    border: 2px solid var(--main-color-light) !important;
    box-shadow: 0px 0px 1px 1px var(--main-color-light) !important;
}

.ui-state-focus {
    outline: none;
}

.check_box {
    width: 20px;
    height: 20px;
}

.check_box:after {
    content: "✓";
    font-size: 14px;
    padding: 1px 4px;
    color: white;
    background-color: white;
    border: 2px solid #333;
    border-radius: 3px;
}

.check_box:hover ~ .check_box::after {
    content: "✓";
    font-size: 14px;
    padding: 1px 4px;
    color: white;
    background-color: white;
    border: 2px solid var(--main-color-light);
    border-radius: 3px;
}

.check_box:checked ~ .check_box::after {
    content: "✓";
    font-weight: bold;
    font-size: 14px;
    padding: 1px 4px;
    color: white;
    background-color: var(--main-color-light);
    border: 2px solid var(--main-color-light);
}

.check_box:focus ~ .check_box::after {
    border: 2px solid var(--main-color-light);
    box-shadow: 0px 0px 7px 3px var(--main-color-light);
}

.label_wrapper {
    width: fit-content;
    transform: translateY(-19px);
}

.label_wrapper label {
    cursor: pointer;
    padding: 4px 10px 3px 30px;
    font-size: 13px;
    /* border: 1px solid black; */
}

.mobile_bar {
    display: none;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mobile_bar_item {
    cursor: pointer;
    border: 1px solid #333;
    border-right: none;
    color: #333;
    height: 30px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mobile_bar_item:first-child {
    border-radius: 4px 0px 0px 4px;
}

.mobile_bar_item:last-child {
    border-right: 1px solid #333;
    border-radius: 0px 4px 4px 0px;
}

.mobile_bar_item span {
    margin-left: 5px;
}

.sort_wrapper_mobile {
    display: none;
    position: absolute;
    top: 35.5px;
    left: -5px;
    background-color: white;
    border-radius: 3px;
    z-index: 1;
}

.sort_item_mobile {
    text-align: center;
    padding: 12px 0px 12px 10px;
    border: 1px solid #bbb;
    border-bottom: none;
    width: 200px;
}

.sort_item_mobile:nth-child(2) {
    border-radius: 4px 4px 0px 0px;
}

.sort_item_mobile:last-child {
    border-radius: 0px 0px 4px 4px;
    border-bottom: 1px solid #aaa;
}

.sort_item_mobile i {
    color: white;
    font-size: 12px;
    margin-left: 1px;
}

.triangle-up {
    position: absolute;
    top: -6px;
    left: 10px;
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #aaa;
}

.triangle-up::after {
    position: absolute;
    top: 1px;
    left: -5.4px;
    content: "";
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid white;
}

.search_top {
    display: flex;
}

.destination_header_wrapper {
    width: fit-content;
    font-size: 23px;
    font-weight: bold;
    margin-right: 5px;
}

.sort_by {
    margin-top: 5px;
    display: block;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

.map_wrapper {
    margin-left: auto;
    position: relative;
    height: 50px;
    width: 95px;
    background: url(../images/search/map.jpeg);
    background-size: 250px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 3px var(--main-color);
    margin-right: 3px;
}

.map_wrapper:hover {
    border: 1px solid var(--main-color-light);
    box-shadow: 0 0 5px var(--main-color-light);
}

.map_wrapper:hover .map_text,
.map_wrapper:hover .fa-map-marker-alt {
    color: var(--main-color-light);
}

.map_wrapper .position_icon {
    height: 15px;
    width: fit-content;
    margin: 5px auto;
    margin-top: 3px;
}

.position_icon i {
    color: var(--main-color);
}

.map_wrapper .map_text {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 1.5px 0px;
    color: var(--main-color);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
}

.sort_wrapper {
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}

.sort_item {
    flex: 1 1 auto;
    border: 1px solid var(--main-color);
    border-right: none;
    cursor: pointer;
    padding: 8px 0px;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    display: flex;
}

.sort_item:first-child {
    border-radius: 3px 0px 0px 3px;
}

.sort_item:last-child {
    border-radius: 0px 3px 3px 0px;
    border-right: 1px solid var(--main-color);
}

.sort_item_wrapper {
    display: flex;
}

.sort_item_wrapper > span {
    text-align: center;
    margin-left: 12px;
}

.sort_item_wrapper > i {
    align-self: center;
    margin: 0px 2px 0px 5px;
    font-size: 11px;
    color: white;
}

.sort_selected {
    background-color: var(--main-color);
}

.sort_selected {
    color: white;
}

@media (max-width: 870px) {
    .sort_item {
        flex-basis: 33%;
    }

    .sort_item:first-child {
        border-radius: 3px 0px 0px 0px;
    }

    .sort_item:nth-child(3) {
        border-right: 1px solid var(--main-color);
        border-radius: 0px 3px 0px 0px;
    }

    .sort_item:nth-child(4) {
        border-radius: 0px 0px 0px 3px;
    }

    .sort_item:last-child {
        border-radius: 0px 0px 3px 0px;
    }

    .sort_item:nth-child(4),
    .sort_item:nth-child(5) {
        border-top: none;
    }

    .sort_by {
        display: none;
    }
}

.hotel_boxes_wrapper {
    border: none;
    padding-top: 5px;
}

.hotelbox_loading {
    filter: opacity(40%);
}

.hotelbox {
    display: flex;
    min-width: 300px;
    margin: 20px 0px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    padding: 17px;
    position: relative;
}

.hotelbox:hover {
    background-color: rgba(var(--main-color-rgb), 0.05);
}

.hotel_photo {
    position: relative;
    min-height: 200px;
    max-width: 200px;
    border-radius: 3px;
    cursor: pointer;
    flex: 1;
}

.hotel_photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.hotel_content {
    margin-left: 20px;
    flex: 1;
    height: fit-content;
    min-width: 66%;
}

.hotel_book {
    margin-top: 5px;
    margin-left: auto;
    width: fit-content;
}

.hotel_book button {
    padding: 10px 16px;
    color: white;
    background-color: var(--main-color-light);
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.hotel_book button:hover {
    background-color: var(--main-color);
}

.hotel_room {
    margin-top: 20px;
    overflow: auto;
    cursor: pointer;
}

.hotel_room:hover {
    background-color: white;
    border-radius: 3px;
}

.hotel_head {
    display: flex;
    flex-wrap: wrap;
}

.link_name {
    flex: 1;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color-light);
    margin-right: 5px;
    min-width: 100px;
}

.name:hover {
    color: var(--main-color);
}

.stars {
    color: var(--secondary-color);
    font-size: 14px;
    display: inline-block;
    transform: translateY(-5px);
}

.quality_score_wrapper {
    display: flex;
    align-self: flex-start;
    align-items: center;
    min-width: 170px;
    justify-content: flex-end;
}

.quality_nr_reviews {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.quality {
    font-size: 16px;
    color: var(--main-color);
}

.nr_reviews {
    font-size: 12px;
    color: #6b6b6b;
}

.score_wrapper {
    padding: 5px 7px;
    background-color: var(--main-color-light);
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: fit-content;
}

.score_wrapper:hover {
    background-color: var(--main-color);
}

.score_wrapper img {
    width: 30px;
    margin-right: 5px;
}
.score {
    color: white;
    font-size: 11px;
}

.score strong {
    font-size: 15px;
    font-weight: bold;
}

@media (max-width: 950px) {
    .sort_item_wrapper > span {
        font-size: 15px;
    }
    .hotel_content {
        margin-left: 10px;
    }
    .quality_score_wrapper {
        flex-basis: 100%;
        margin-top: 10px;
        justify-content: flex-start;
        min-width: auto;
    }
    .score_wrapper {
        order: -1;
        padding: 2px 6px;
    }
    .quality_nr_reviews {
        text-align: left;
        margin-left: 5px;
    }
    .score_wrapper img {
        width: 26px;
    }
    .score strong {
        font-size: 14px;
    }
    .score {
        font-size: 11px;
    }
    .quality {
        font-size: 14px;
    }
    .nr_reviews {
        font-size: 10px;
        margin-left: 1px;
    }
    .city {
        width: 100%;
    }
    .address_separator {
        display: none;
    }
    .distance_center {
        margin-top: 5px;
        font-size: 11px;
    }
}

.address_wrapper {
    margin-top: 10px;
    width: fit-content;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

.district,
.city {
    color: var(--main-color-light);
    font-weight: bold;
}

.district:hover,
.city:hover {
    color: var(--main-color);
}

.address_separator {
    margin: 0px 3px;
    transform: translateY(-3px);
    font-weight: bolder;
}

.distance_center {
    font-size: 12px;
}

.room_title {
    display: flex;
}

.room_name,
.room_separator,
.room_guests_icon,
.nights_guests {
    font-size: 13px;
    font-weight: bold;
}

.room_separator {
    margin: 0px 5px;
}

.room_guests_icon {
    display: inline-flex;
    align-items: flex-end;
}

.room_guests_icon i {
    padding: 0px 1px 3px;
}

.adults_multiplier {
    margin-left: 2px;
    margin-right: 5px;
}

.nights_guests {
    color: #6b6b6b;
    font-weight: lighter;
    margin-left: auto;
    padding-left: 10px;
    min-width: fit-content;
}

.rate_wrapper {
    display: flex;
    margin-top: 8px;
}

.bed_type {
    font-size: 13px;
    width: fit-content;
    margin-top: 8px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
}

.room_policy {
    display: flex;
    width: fit-content;
    font-size: 13px;
    font-weight: bold;
    color: #008009;
    margin-top: 8px;
}

.policy_separator {
    margin: 0px 4px;
    font-size: 16px;
    font-weight: bold;
    transform: translateY(-6px);
}

.deal_wrapper {
    position: absolute;
    background-color: white;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    height: 25px;
    width: fit-content;
    padding: 0px 5px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    color: #444;
    background-color: white;
}

meter::-webkit-meter-optimum-value {
    background: var(--main-color-light);
}

.pick_tittle {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    display: flex;
}

.hotel_bold {
    font-weight: bold;
}

.mind_green {
    color: var(--main-color-light);
    font-style: normal;
}

.mind_register {
    color: var(--main-color-light);
    font-size: 10px;
}

.score_text {
    margin-left: 3px;
}

.pick_score {
    font-size: 14px;
    font-weight: bold;
    margin-left: 3px;
}

@media (max-width: 825px) {
    .nights_guests,
    .bed_type {
        display: none;
    }
    .room_policy {
        margin-top: 0px;
    }
    .hotel_book {
        margin-top: 20px;
    }
}

.page_loading_wrapper {
    transform: translateY(-10px);
    height: 80px;
}

.page_loading {
    display: none;
}

.page_loading_show {
    display: block;
}

.filter_loading_wrapper_show {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
}

.page_loading {
    width: fit-content;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.page_loading img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.no_results_wrapper {
    display: none;
    align-items: center;
    padding: 10px;
    background-color: rgba(var(--main-color-rgb), 0.15);
    border-radius: 3px;
    margin-bottom: 50px;
}

.no_results_page_show {
    display: flex;
    margin-top: -75px;
}

.no_results_filter_show {
    display: flex;
    margin-top: -50px;
}

.no_results_icon {
    width: 35px;
    margin-right: 10px;
}

.no_results_message {
    font-size: 16px;
}

.map_overlay {
    display: none;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    min-width: var(--min_width);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.display_map_overlay {
    display: block;
}

.map_popup {
    height: 95%;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
}

.map_close {
    height: 45px;
    width: 45px;
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: whitesmoke;
    border-radius: 150px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.close {
    border: none;
    opacity: 0.4;
    position: relative;
    left: calc(50% - 1.3px);
    top: 9px;
}

.map_close:hover .close {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    content: " ";
    height: 25px;
    width: 2px;
    background-color: var(--main-color-light);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.map_left {
    width: 20%;
    height: 100%;
}

.map_right {
    flex: 1;
    height: 100%;
}
